<!--<h2 class="mb-4">Crear Actividad</h2>

<form>
  <div class="row mb-3">
    <div class="col-md-6">
      <label for="fechaActividad" class="form-label">Fecha de la Actividad</label>
      <input type="date" class="form-control" id="fechaActividad" required>
    </div>

    <div class="col-md-3">
      <label for="horaInicioActividad" class="form-label">Hora de Inicio</label>
      <input type="time" class="form-control" id="horaInicioActividad" required>
    </div>

    <div class="col-md-3">
      <label for="horaFinActividad" class="form-label">Hora de Fin</label>
      <input type="time" class="form-control" id="horaFinActividad" required>
    </div>
  </div>

  <div class="col-md-6">
    <label for="usuariosMaxRequeridos" class="form-label">Usuarios Maximos Requeridos</label>
    <input type="int" class="form-control" id="usuariosMaxRequeridos" required>
  </div>

  <div class="mb-3">
    <label for="requerimientos" class="form-label">Requerimientos</label>
    <textarea class="form-control" id="requerimientos" rows="3"></textarea>
  </div>
 
  <div class="row mb-3">
    
    <div class="col-md-2">
      <label for="actividad" class="form-label">Actividad</label>
      <select class="form-select" id="actividad" required [(ngModel)]="formularioActividadRequest.actividad" name="actividad"
      (change)="checkActivity($event)">
          <option disabled selected>Seleccione una Actividad</option>
          @for (deporte of listaDeportes; track $index) {
             <option id="{{deporte.idDeporte}}" [value]="deporte.actividad">
                  {{deporte.actividad}}
              </option>
          }
      </select>
    </div>
  </div>

    <div class="col-md-2">
      <label for="direccion" class="form-label">Dirección</label>
      <input type="text" class="form-control" id="direccion" required>
    </div>

    <div class="col-md-2">
      <label for="provincia" class="form-label">Provincia:</label>
      <select class="form-select" id="provincia" required  [(ngModel)]="formularioActividadRequest.provincia" name="provincia"
      (change)="loadMunicipaliti($event)">
          <option value="" disabled selected>Seleccione una Provincia</option>
          @for (provincia of listaProvincias; track $index) {
              <option [value]="provincia">{{provincia}}</option>
          }
      </select>
    </div>

    <div class="col-md-3">
        <label for="municipio" class="form-label">Municipio:</label>
        <select class="form-select" id="municipio" required [(ngModel)]="formularioActividadRequest.municipio" name="municipio">
            <option value="" disabled selected>Seleccione un Municipio</option>
            @for (municipio of listaMunicipos; track $index) {
                <option [value]="municipio">{{municipio}}</option>
            }
        </select>
    </div>


  <button type="submit" class="btn btn-primary">Crear Reserva</button>
</form>-->