<div class="container py-4">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Crear Actividad
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="row justify-content-center">
            <div class="col-lg-30">
              <!-- Damos una sombra al card utilizando shadow-lg -->
              <div class="card shadow-lg border-0">
                <!--
                <div class="card-header bg-primary text-white text-center">
                  <h3>Crear Actividad</h3>
                </div>
                -->
                <div class="card-body">
                  <form [formGroup]="validateForm" class="form-control border-0" (ngSubmit)="createActivity()">
                    <div class="row mb-3">
                      <div class="col-md-3">
                        <label for="fechaReserva" class="form-label">Fecha de la Actividad</label>
                        <div class="input-group">
                          <span class="input-group-text bg-light icon-border">
                            <i class="bi bi-calendar"></i>
                          </span>
                          <input type="date" class="form-control" id="fechaReserva" required
                            formControlName="fechaReserva" name="fechaReserva">
                          @if(((this.validateForm.get('fechaReserva')?.invalid &&
                          this.validateForm.get('fechaReserva')?.touched) || formSubmit) &&
                          (!this.validateForm.get('fechaReserva')?.value?.trim())) {
                          <div class="text-danger mt-1">
                            La fecha reserva no puede estar vacío o contener solo espacios en blanco.
                          </div>
                          }
                        </div>
                      </div>

                      <div class="col-md-3">
                        <label for="horaInicio" class="form-label">Hora de Inicio</label>
                        <div class="input-group">
                          <span class="input-group-text bg-light icon-border">
                            <i class="bi bi-clock"></i>
                          </span>
                          <input type="time" class="form-control" id="horaInicio" required formControlName="horaInicio"
                            name="horaInicio">
                          @if(((this.validateForm.get('horaInicio')?.invalid &&
                          this.validateForm.get('horaInicio')?.touched) || formSubmit) &&
                          (!this.validateForm.get('horaInicio')?.value?.trim())) {
                          <div class="text-danger mt-1">
                            La hora inicio no puede estar vacia.
                          </div>
                          }
                        </div>
                      </div>

                      <div class="col-md-3">
                        <label for="horaFin" class="form-label">Hora de Fin</label>
                        <div class="input-group">
                          <span class="input-group-text bg-light icon-border">
                            <i class="bi bi-clock"></i>
                          </span>
                          <input type="time" class="form-control" id="horaFin" required formControlName="horaFin"
                            name="horaFin">
                          @if(((this.validateForm.get('horaFin')?.invalid &&
                          this.validateForm.get('horaFin')?.touched) || formSubmit) &&
                          (!this.validateForm.get('horaFin')?.value?.trim())) {
                          <div class="text-danger mt-1">
                            La Hora fin no puede estar vacia.
                          </div>
                          }
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-9 mt-2">
                        <label for="requerimientos" class="form-label">Requerimientos</label>

                        <!-- Div principal que contiene el primer input y el botón -->
                        <div id="requerimientos">
                          <div class="d-flex align-items-center">
                            <!-- Primer input con botón alineado a la derecha -->
                            <input type="text" class="form-control me-2 w-100" required formControlName="requerimientos"
                              (blur)="updateRequerimientos(0, this.validateForm.get('requerimientos')?.value)"
                              name="requerimientos" />
                            <!-- Botón alineado con el primer input -->
                            <button type="button" class="btn btn-primary ms-2" (click)="nuevoRequerimientos()">
                              <i class="bi bi-plus-lg"></i>
                            </button>
                          </div>
                        </div>

                        <!-- Inputs adicionales que se muestran uno debajo del otro -->
                        @for (i of requerimientos.slice(1); track $index) {
                        <div class="mt-2 d-flex align-items-center">
                          <input type="text" class="form-control" (blur)="changeInputRequired($index + 1, $event)"
                            name="requerimientosInput{{i + 1}}" />
                          <button type="button" class="btn btn-primary ms-2" (click)="removeInput($index + 1)">
                            <i class="bi bi-x-circle"></i>
                          </button>
                        </div>
                        }
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-3">
                        <label for="actividad" class="form-label">Actividad</label>
                        <select class="form-select" id="actividad" required formControlName="actividad" name="actividad"
                          (change)="checkActivity($event)">
                          <option disabled selected>Seleccione una Actividad</option>
                          @for (deporte of listaDeportes; track $index) {
                          <option id="{{deporte.idDeporte}}" [value]="deporte.actividad">
                            {{deporte.actividad}}
                          </option>
                          }
                        </select>
                        @if(((this.validateForm.get('actividad')?.invalid &&
                        this.validateForm.get('actividad')?.touched) || formSubmit) &&
                        (!this.validateForm.get('actividad')?.value?.trim())) {
                        <div class="text-danger mt-1">
                          Seleccione una actividad.
                        </div>
                        }
                      </div>

                      <div class="col-md-3">
                        <label for="usuariosMaxRequeridos" class="form-label">Usuarios Maximos Requeridos</label>
                        <input type="number" min="1" maxLength="2" class="form-control" id="usuariosMaxRequeridos"
                          required formControlName="usuariosMaxRequeridos" name="usuariosMaxRequeridos">
                        @if(validateForm.get('usuariosMaxRequeridos')?.errors?.['whitespaceNumeric']
                        && (validateForm.get('usuariosMaxRequeridos')?.touched || formSubmit)) {
                        <div class="text-danger mt-1">
                          Indique un minimo de usuarios.
                        </div>
                        }
                      </div>

                      <div class="col-md-3">
                        <label for="provincia" class="form-label">Provincia:</label>
                        <select class="form-select" id="provincia" required formControlName="provincia" name="provincia"
                          (change)="loadMunicipaliti($event)">
                          <option value="" disabled selected>Seleccione una Provincia</option>
                          @for (provincia of listaProvincias; track $index) {
                          <option [value]="provincia">{{provincia}}</option>
                          }
                        </select>
                        @if(((this.validateForm.get('provincia')?.invalid &&
                        this.validateForm.get('provincia')?.touched) || formSubmit) &&
                        (!this.validateForm.get('provincia')?.value?.trim())) {
                        <div class="text-danger mt-1">
                          Seleccione una provincia.
                        </div>
                        }
                      </div>

                      <div class="col-md-3">
                        <label for="municipio" class="form-label">Municipio:</label>
                        <select class="form-select" id="municipio" required formControlName="municipio"
                          name="municipio">
                          <option value="" disabled selected>Seleccione un Municipio</option>
                          @for (municipio of listaMunicipos; track $index) {
                          <option [value]="municipio">{{municipio}}</option>
                          }
                        </select>
                        @if(((this.validateForm.get('municipio')?.invalid &&
                        this.validateForm.get('municipio')?.touched) || formSubmit) &&
                        (!this.validateForm.get('municipio')?.value?.trim())) {
                        <div class="text-danger mt-1">
                          Seleccione un municipio.
                        </div>
                        }
                      </div>

                    </div>

                    <div class="row mb-3">

                      <div class="col-md-2">
                        <label for="codigoPostal" class="form-label">Codigo Postal:</label>
                        <input type="text" maxlength="5" (input)="validarCodigoPostal($event)" class="form-control"
                          id="codigoPostal" required formControlName="codigoPostal" name="codigoPostal">
                        @if((validateForm.get('codigoPostal')?.errors?.['whitespaceNumeric'] &&
                        (validateForm.get('codigoPostal')?.touched || formSubmit))) {
                        <div class="text-danger mt-1">
                          El codigo postal no puede estar vacio.
                        </div>
                        }
                      </div>

                      <div class="col-md-3">
                        <label for="direccion" class="form-label">Dirección:</label>
                        <input type="text" class="form-control" id="direccion" required formControlName="direccion"
                          name="direccion">
                        @if(validateForm.get('direccion')?.errors?.['whitespace'] &&
                        ((validateForm.get('direccion')?.touched) || formSubmit)) {
                        <div class="text-danger mt-1">
                          Indique una dirección de la actividad.
                        </div>
                        }
                      </div>

                      <div class="col-md-3">
                        <label for="urgencia" class="form-label">Urgencia:</label>
                        <select class="form-select" id="urgencia" required formControlName="urgencia" name="urgencia">
                          <option value="" disabled selected>Seleccione un nivel de urgencia</option>
                          <option value="Baja">Baja</option>
                          <option value="Media">Media</option>
                          <option value="Alta">Alta</option>
                        </select>
                        @if(((this.validateForm.get('urgencia')?.invalid &&
                        this.validateForm.get('urgencia')?.touched) || formSubmit) &&
                        (!this.validateForm.get('urgencia')?.value?.trim())) {
                        <div class="text-danger mt-1">
                          Indique el nivel de urgencia.
                        </div>
                        }
                      </div>

                      <div class="col-md-2">
                        <label for="abonoPista" class="form-label">Abono Pista:</label>
                        <div class="input-group">
                          <span class="input-group-text icon-border">€</span>
                          <input type="text" (input)="validarDecimales($event)" class="form-control" id="abonoPista"
                            required formControlName="abonoPista" name="abonoPista">
                        </div>
                        @if(((validateForm.get('abonoPista')?.errors?.['whitespaceNumeric']
                        || validateForm.get('abonoPista')?.errors?.['decimalValidator'])
                        && (validateForm.get('abonoPista')?.touched || formSubmit))) {
                        <div class="text-danger mt-1">
                          Indique la cantidad a abonar por cada usuario que se desea asistir en la actividad.
                        </div>
                        }
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Crear Reserva</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Acordeon para listar todas las actividades referentes al usuario-->
    <div class="accordion-item mb-6 mt-2">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          Listar Actividades Creadas
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="table-responsive">
            <table class="table table-hover align-middle mt-4 mb-4 text-center shadow-sm border-0 rounded-3">
              <thead class="table-primary">
                <tr>
                  <th hidden></th>
                  <th class="text-uppercase fst-italic py-3">Fecha Reserva</th>
                  <th class="text-uppercase py-3">Hora Reserva</th>
                  <th class="text-uppercase py-3">Requerimientos</th>
                  <th class="text-uppercase py-3">Máximo Jugadores</th>
                  <th class="text-uppercase py-3">Actividad</th>
                  <th class="text-uppercase py-3">Provincia</th>
                  <th class="text-uppercase py-3">Municipio</th>
                  <th class="text-uppercase py-3">Urgencia Inscripción</th>
                  <th class="text-uppercase py-3">Abono Pista</th>
                </tr>
              </thead>
              <tbody class="bg-white text-dark">
                <!-- Iteración de las reservas -->
                @for (reserva of formularioActividadResponse; track $index) {
                <tr class="border-bottom border-2 border-light">
                  <td hidden>{{reserva.idReservaActividad}}</td>
                  <td class="py-3">{{reserva.fechaReserva | date:'dd-MM-yyyy'}}</td>
                  <td class="py-3">{{reserva.horaInicio}} - {{reserva.horaFin}}</td>
                  <td class="py-3">
                    <ul class="list-unstyled mb-0">
                      <!-- Iteración de requerimientos dentro de la reserva -->
                      @for (requi of reserva.requerimientos; track $index) {
                      <li class="text-muted small">{{requi}}</li>
                      }
                    </ul>
                  </td>
                  <td class="py-3">{{reserva.usuariosMaxRequeridos}}</td>
                  <td class="py-3">{{reserva.actividad}}</td>
                  <td class="py-3">{{reserva.provincia}}</td>
                  <td class="py-3">{{reserva.municipio}}</td>
                  <td class="py-3">
                    <span
                      class="badge rounded-pill text-bg-{{ reserva.urgencia == 'Alta' ? 'danger' : reserva.urgencia == 'Media' ? 'warning' : 'success' }}">
                      {{reserva.urgencia}}
                    </span>
                  </td>
                  <td class="py-3">{{reserva.abonoPista}} €</td>
                </tr>
                }
              </tbody>
            </table>
            <!-- Paginador -->
            <app-paginador [inicio]="this.paginador.inicio" [fin]="this.paginador.fin"
              [paginaActual]="this.paginador.paginaActual" [totalPaginas]="this.paginador.paginas"
              [numeroRegistros]="this.paginador.registros"
              [tamanioPagina]="this.paginador.tamanioPagina"></app-paginador>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>