<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark custom-navbar text-white shadow-sm sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" [routerLink]="['/']">SportBuddies</a>

    <div class="d-block d-sm-none">
    <!-- Botón para abrir Off-Canvas -->
    @if (!this.isAuthenticate) {
      <a class="btn btn-outline-light" (click)="onLogin()">Mi cuenta</a>
    }@else {
      <button class="custom-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#mainOffCanvas" aria-controls="mainOffCanvas">
      <i class="bi bi-list fs-1 custom-i"></i>
    </button>    
    }
    </div> 
    
    <!-- Menú principal para pantallas grandes -->
    <div class="collapse navbar-collapse justify-content-between d-lg-none" id="navbarNavDropdown">
      <ul class="navbar-nav">
        @if (this.isAuthenticate) {
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/nueva-actividad']">Actividades</a>
        </li>
        }
      </ul>
      <ul class="navbar-nav">
        @if (!this.isAuthenticate) {
          <li class="nav-item">
            <a class="btn btn-outline-light" (click)="onLogin()">Mi cuenta</a>
          </li>
        }@else {
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ obtainNameUser() }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            @if (admin()) {
              <li>
                <a class="dropdown-item" [routerLink]="['/nuevo-cliente-oauth']">Nuevo Cliente Aplicación</a>
              </li>
            }
            <li><a class="dropdown-item" [routerLink]="['/mi-cuenta/', idUser()]">Mi cuenta</a></li>
            <li><a class="dropdown-item" [routerLink]="['/mis-reservas']">Mis reservas inscritas</a></li>
            <li><a class="dropdown-item" [routerLink]="['/historial-reservas']">Historial reservas</a></li>
            <li><a class="dropdown-item" [routerLink]="['/confirmar-asitencia/', idUser()]">Confirmar asistencia</a></li>
            <li><a class="dropdown-item" (click)="onLogout()" style="cursor: pointer;">Cerrar sesión</a></li>
          </ul>
        </li>
      }
      </ul>
    </div>
  </div>
</nav>

<!-- Off-Canvas para móviles -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="mainOffCanvas" aria-labelledby="mainOffCanvasLabel" style="width: 73%;">
  <div class="offcanvas-header text-white fw-bold canvas-mobile" >
    <h5 class="offcanvas-title" id="mainOffCanvasLabel">{{obtainNameUser()}}</h5>
    <button type="button" class="btn-close btn-close-white text-reset" (click)="closeOffCanvas()" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    @if (this.isAuthenticate) {
      <ul class="list-unstyled">
        @if (admin()) {
          <a class="dropdown-item mb-2" [routerLink]="['/nuevo-cliente-oauth']" (click)="closeOffCanvas()">Nuevo Cliente Aplicación</a>
        }
        <li><a class="dropdown-item mb-2" [routerLink]="['/nueva-actividad']" (click)="closeOffCanvas()">Actividades</a></li>
        <li><a class="dropdown-item mb-2" [routerLink]="['/mi-cuenta/', idUser()]" (click)="closeOffCanvas()">Mi cuenta</a></li>
        <li><a class="dropdown-item mb-2" [routerLink]="['/mis-reservas']" (click)="closeOffCanvas()">Mis reservas inscritas</a></li>
        <li><a class="dropdown-item mb-2" [routerLink]="['/historial-reservas']" (click)="closeOffCanvas()">Historial reservas</a></li>
        <li><a class="dropdown-item mb-2" [routerLink]="['/confirmar-asitencia/', idUser()]" (click)="closeOffCanvas()">Confirmar asistencia</a></li>
        <li><a class="dropdown-item " (click)="onLogout()" style="cursor: pointer;" id="myOffcanvas" (click)="closeOffCanvas()">Cerrar sesión</a></li>
      </ul>
    }
  </div>
</div>