/*.dropdown-menu {
    transform: translateX(-85px);
}
#navbar-dropdown {
    margin-left: 99.5rem !important;
}*/
  

/*
.custom-navbar {
  background: rgba(0, 0, 0, 0.8); 
  backdrop-filter: blur(10px); 
  border-bottom: 2px solid #00b300; 
  transition: background 0.3s ease-in-out;
}

.custom-navbar .navbar-brand {
  color: #00ff99 !important; 
}

.custom-navbar .nav-link {
  color: white !important;
  transition: color 0.3s ease-in-out;
}

.custom-navbar .nav-link:hover {
  color: #00ff99 !important; 
}


.btn-outline-light {
  border-color: #00ff99;
  color: #00ff99;
}

.btn-outline-light:hover {
  background-color: #00ff99;
  color: black;
}


.offcanvas {
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(10px);
}

.offcanvas .dropdown-item {
  color: white;
  transition: background 0.3s;
}

.offcanvas .dropdown-item:hover {
  background-color: #00b300;
  color: black;
}
*/
.custom-navbar {
  background: linear-gradient(to right, #000000 30%, #00b300 100%);
  /* Efecto difuminado */
  backdrop-filter: blur(10px);
   /* Línea inferior verde */
  border-bottom: 2px solid #00ff99;
  transition: background 0.3s ease-in-out;
}

.custom-navbar .navbar-brand {
  color: #00ff99 !important;
}

.custom-navbar .nav-link {
  color: white !important;
  transition: color 0.3s ease-in-out;
}

.custom-navbar .nav-link:hover {
  color: #00ff99 !important;
}

/* Botón de cuenta */
.btn-outline-light {
  border-color: #00ff99;
  color: white;
  
}

.btn-outline-light:hover {
  background-color: olivedrab;
  border-color: olivedrab;
  color: white;
}

/* Off-Canvas */
.offcanvas {
  background: linear-gradient(to right, #000000 30%, #00b300 100%);
  backdrop-filter: blur(10px);
}

.offcanvas .dropdown-item {
  color: white;
  transition: background 0.3s;
}

.offcanvas .dropdown-item:hover {
  background-color: #00b300;
  color: black;
}
