<div class ="container my-4">
    <h3>{{title}}</h3>   
    <label for="startDate">Start</label>
    <input id="startDate" class="form-control" type="date" (change)="handleFechaChange($event)" />
    
    <div class="row">
        <div class="col my-4">
            @if (reserva.length == 0) {
                <div class="alert alert-info">Actualmente no se ha buscado ninguna fecha</div>
            } @else {
            
             <div>
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Id Reserva</th>
                            <th>Fecha Reserva</th>
                            <th>Hora Inicio Reserva</th>
                            <th>Fecha Fin Reserva</th>
                            <th>Roles</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (res of reserva; track $index) {
                            <tr>
                                <td>{{res.idReserva}}</td>
                                <td>{{res.fechaReserva}}</td>
                                <td>{{res.horaInicioReserva}}</td>
                                <td>{{res.horaFinReserva}}</td>
                                <td>
                                    @for (role of res.rol; track $index) {
                                        {{role.nombreRol}} @if ($index < res.rol.length - 1) {,}
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            }
        </div>
    </div>    
</div>