@media (max-width: 767.98px) {
    .custom-width-mobile {
        width: auto !important;  /* Ajusta el ancho automático en dispositivos móviles */
    }
}

@media (min-width: 768px) {
    .custom-width-mobile {
        width: 25% !important;  /* Ajusta el ancho al 25% en dispositivos grandes */
    }
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {  
    background-color: hsl(210, 77%, 87%) !important; /* Cambia a tu color deseado */
  }

