<div class ="container my-4">
    
    <h3>{{title}}</h3>   

    <div class="custom-width-mobile">
        <label for="startDate">Buscar Día Reserva</label>
        <input id="startDate" class="form-control" type="date" (change)="handleFechaChange($event)" />
    </div>

    <div class="row">
        <div class="col my-4">
            @if (reserva.length == 0) {
                <div class="alert alert-info">Actualmente no se ha buscado ninguna fecha</div>
            } @else {
            
             <div>
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Id Reserva</th>
                            <th>Fecha Reserva</th>
                            <th>Hora Inicio Reserva</th>
                            <th>Fecha Fin Reserva</th>
                            <th>Observaciones</th>
                            <th>Nombre Usuario Reserva</th>
                            <th>Deporte Reservado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (res of reserva; track $index) {
                            <tr>
                                <td>{{res.idReserva}}</td>
                                <td>{{res.fechaReserva}}</td>
                                <td>{{res.horaInicioReserva}}</td>
                                <td>{{res.horaFinReserva}}</td>
                                <td>{{res.observaciones}}</td>
                                <td>{{res.usuarioReserva.nombreUsuario}}</td>
                                <td>{{res.deporteReserva.actividad}}</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            }
        </div>
    </div>    
</div>