<app-navbar/>
<div class ="container my-4">
    <h3>{{title}}</h3>
    <!-- Esto sirve par que la redirección de la vista se haga dentro de la misma página -->
    <router-outlet/>
    
    <label for="startDate">Start</label>
    <input id="startDate" class="form-control" type="date" (change)="handleFechaChange($event)" />
    
    <div class="row">
        <div class="col my-4">
            @if (usuario.length == 0) {
                <div class="alert alert-info">Actualmente no se ha buscado ninguna fecha</div>
            } @else {
            
             <div>
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Usuario Id</th>
                            <th>Nombre</th>
                            <th>Apellido Usuario</th>
                            <th>Email Usuario</th>
                            <th>Roles</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (user of usuario; track $index) {
                            <tr>
                                <td>{{user.idUsuario}}</td>
                                <td>{{user.nombre}}</td>
                                <td>{{user.apellido}}</td>
                                <td>{{user.email}}</td>
                                <td>
                                    @for (role of user.rol; track $index) {
                                        {{role.nombreRol}} @if ($index < user.rol.length - 1) {,}
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            }
        </div>
    </div>    
</div>