body {
    font-family: 'Playfair Display', serif;
}
  
  /*
  body {
    background-image: url('assets/images/backgour_sportbuddi.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
  }
  */

  body {
    background: radial-gradient(circle at left, #000000 10%, #004d00 50%, #00b300 100%);
    background-attachment: fixed;
    min-height: 100vh;
    color: white;
}
