/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Playfair Display', serif; /* Cambia a la fuente que desees */
  }
  
  body {
    background-image: url('assets/images/backgour_sportbuddi.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
  }
  