<div class="row justify-content-center">
    <div class="col-lg-8">
        <!-- Card con sombra y bordes redondeados -->
        <div class="card shadow-lg border-0 rounded-lg">
            <div class="card-header bg-primary text-white text-center">
                @if (idUsuario == null) {
                    <h3 class="mb-4">Nuevo Usuario</h3>
                }@else {
                    <h3 class="mb-4">Actualizar Usuario</h3>
                }
            </div>
            <div class="card-body">
                <form [formGroup]="validateForm" class="container" (ngSubmit)="createOrUpdateUser()">
                    <div class="row g-4"> <!-- Usamos g-4 para más espacio entre filas -->

                        <!-- Nombre Usuario -->
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="nombreUsuario" required
                                    formControlName="nombreUsuario" placeholder="nombre-prueba" name="nombreUsuario">
                                <label for="nombreUsuario">Nombre</label>
                                @if(
                                ((this.validateForm.get('nombreUsuario')?.invalid &&
                                this.validateForm.get('nombreUsuario')?.touched) || formSubmit) &&
                                (!this.validateForm.get('nombreUsuario')?.value?.trim())
                                ) {
                                <div class="text-danger mt-1">
                                    El nombre no puede estar vacío o contener solo espacios en blanco.
                                </div>
                                }
                            </div>
                        </div>

                        <!-- Password -->
                        @if(idUsuario == null) {
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="password" required
                                    formControlName="password" placeholder="Password" name="password">
                                <label for="password">Password</label>
                                @if(formSubmit && passwordRequired){
                                <div class="text-danger mt-1">
                                    El password no puede estar vacío o contener solo espacios en blanco.
                                </div>
                                }@else if (!passwordRequired && !errorPassword && formSubmit) {
                                <div class="text-danger mt-1">
                                    El password no cumple con los requisitos mínimos.
                                </div>
                                }
                                <a id="popover-password" tabindex="0" role="button" class="popover-trigger"
                                    data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="focus"
                                    data-bs-title="Más Información">
                                    Requerimientos a cumplir.
                                </a>
                            </div>
                        </div>
                        }

                        <!-- Email -->
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" required formControlName="email"
                                    placeholder="name@example.com" name="email">
                                <label for="email">Email</label>
                                @if((this.validateForm.get('email')?.errors?.['required'] &&
                                this.validateForm.get('email')?.touched) || formSubmit) {
                                @if(this.validateForm.get('email')?.value === '' ||
                                this.validateForm.get('email')?.value.trim()
                                === ''){
                                <div class="text-danger mt-1">
                                    El email no puede estar vacío o contener solo espacios en blanco.
                                </div>
                                }
                                @else if(this.validateForm.get('email')?.invalid){
                                <div class="text-danger mt-1">
                                    El email introducido no es correcto.
                                </div>
                                }
                                }
                            </div>
                        </div>


                        @if(idUsuario != null) {
                        <!-- Dirección, Provincia, Municipio, Código Postal, País -->
                        <div class="col-12">
                            <h5 class="mt-4 mb-3 fw-bold">Dirección y Ubicación</h5>
                        </div>

                        <!-- Dirección -->
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="direccion" required
                                    formControlName="direccion" placeholder="direccion" name="direccion">
                                <label for="direccion">Dirección</label>
                                @if((this.validateForm.get('direccion')?.errors?.['required'] && this.validateForm.get('direccion')?.touched) || formSubmit) {
                                    @if(this.validateForm.get('direccion')?.value === '' || this.validateForm.get('direccion')?.value.trim() === ''){
                                    <div class="text-danger mt-1">
                                        La dirección no puede estar vacía o contener solo espacios en blanco.
                                    </div>
                                    }
                                }
                            </div>
                        </div>

                        <!-- Provincia -->
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select class="form-select" id="provincia" required provincia
                                    formControlName="provincia" placeholder="provincia" name="provincia"
                                    (change)="loadMunicipaliti($event)">
                                    <option value="" disabled selected>Seleccione una Provincia</option>
                                    @for (provincia of listaProvincias; track $index) {
                                    <option [value]="provincia">{{provincia}}</option>
                                    }
                                </select>
                                <label for="provincia">Provincia</label>
                                @if((this.validateForm.get('provincia')?.errors?.['required'] &&
                                this.validateForm.get('provincia')?.touched) || (formSubmit && (
                                this.validateForm.get('provincia')?.value === '' ||
                                this.validateForm.get('provincia')?.value.trim() === '' ))) {
                                <div class="text-danger mt-1">
                                    La provincia no puede estar vacía o contener solo espacios en blanco.
                                </div>
                                }
                            </div>
                        </div>

                        <!-- Municipio -->
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select id="municipio" class="form-select" required formControlName="municipio"
                                    placeholder="municipio" name="municipio">
                                    <option value="" disabled selected>Seleccione un Municipio</option>
                                    @for (municipio of listaMunicipos; track $index) {
                                    <option [value]="municipio">{{municipio}}</option>
                                    }
                                </select>
                                <label for="municipio">Municipio</label>
                                @if((this.validateForm.get('municipio')?.errors?.['required'] &&
                                this.validateForm.get('municipio')?.touched) || (formSubmit && (
                                this.validateForm.get('municipio')?.value === ''
                                || this.validateForm.get('municipio')?.value.trim() === '' ))) {
                                <div class="text-danger mt-1">
                                    El municipio no puede estar vacío o contener solo espacios en blanco.
                                </div>
                                }
                            </div>
                        </div>

                        <!-- Código Postal -->
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="codigoPostal" required
                                    formControlName="codigoPostal" placeholder="codigoPostal" name="codigoPostal"
                                    maxlength="5">
                                <label for="codigoPostal">Código Postal</label>
                                @if((this.validateForm.get('codigoPostal')?.errors?.['required'] &&
                                this.validateForm.get('codigoPostal')?.touched) || (formSubmit && (
                                this.validateForm.get('codigoPostal')?.value === ''
                                || this.validateForm.get('codigoPostal')?.value.trim() === '' ))) {
                                <div class="text-danger mt-1">
                                    El código postal no puede estar vacío o contener solo espacios en blanco.
                                </div>
                                }@else if(this.validateForm.get('codigoPostal')?.invalid){
                                <div class="text-danger mt-1">
                                    El código postal debe contener solo digitos
                                </div>
                                }
                            </div>
                        </div>

                        <!-- País -->
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select id="pais" class="form-select" required formControlName="pais" placeholder="pais"
                                    name="pais">
                                    <option value="" disabled selected>Seleccione un Municipio</option>
                                    @for (nacionalidad of nacionalidadesEuropeas; track $index) {
                                    <option [value]="nacionalidad.codigo">{{nacionalidad.pais}}</option>
                                    }
                                </select>
                                <label for="pais">País</label>
                                @if((this.validateForm.get('pais')?.errors?.['required'] &&
                                this.validateForm.get('pais')?.touched) || (formSubmit && (
                                this.validateForm.get('pais')?.value === ''
                                || this.validateForm.get('pais')?.value.trim() === '' ))) {
                                <div class="text-danger mt-1">
                                    El país no puede estar vacío o contener solo espacios en blanco.
                                </div>
                                }
                            </div>
                        </div>

                        <!-- Número de Teléfono -->
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="numeroTelefono" required
                                    formControlName="numeroTelefono" placeholder="numeroTelefono" name="numeroTelefono"
                                    maxlength="9">
                                <label for="numeroTelefono">Número de Teléfono</label>
                                @if((this.validateForm.get('numeroTelefono')?.errors?.['required'] &&
                                this.validateForm.get('numeroTelefono')?.touched) || (formSubmit && (
                                this.validateForm.get('numeroTelefono')?.value === ''
                                || this.validateForm.get('numeroTelefono')?.value.trim() === '' ))) {
                                <div class="text-danger mt-1">
                                    El número de teléfono no puede estar vacío o contener solo espacios en blanco.
                                </div>
                                }@else if(this.validateForm.get('numeroTelefono')?.invalid){
                                <div class="text-danger mt-1">
                                    El número de telefon solo debe contener 9 digitos
                                </div>
                                }
                            </div>
                        </div>
                        }
                        <!-- Botón de Crear -->
                        <div class="col-12 d-flex justify-content-center mt-4">
                            <button type="submit" class="btn btn-primary px-5 py-2">{{ idUsuario ? 'Actualizar Usuario'
                                : 'Crear Usuario' }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>